<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/styles/index.css">
<script src="https://kit.fontawesome.com/6176511deb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-form">
        <div class="formContent">
            <div>
                <h2>Sign Up</h2>
            </div>
            <form action="/authentication/register" method="POST">
                            <input type="email" id="login" name="email" placeholder="example@gmail.com" ">
                            <input type="password" id="password" name="password" placeholder="password">
                            <input type="password" id="password2" name="password2" placeholder="password">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="submit" value="Sign Up">
            </form>
            <%- include('./includes/error.ejs') %>
            <div class="formFooter">
                <a href="/">Do you have an account? Sign In!</a>
            </div>
            <footer class="main-footer">
                <a href="https://github.com/kowalik9412/webSystems"><i class="fab fa-github"></i></a>
                <p>Sebastian Kowalczyk</p>
            </footer>
        </div>
    </header>
</body>
<%- include('./includes/footer.ejs') %>