<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/styles/index.css">
<script src="https://kit.fontawesome.com/6176511deb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md col1">
                <h1>Some random text.</h1>
                <a href="https://github.com/kowalik9412/webSystems" target="_blank" class="git-logo">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="col-md col2">
                <div class="wrapper">
                    <div id="formContent">
                        <div>
                            <%- include('./includes/error.ejs') %>
                            <h2>Sign Up</h2>
                        </div>
                        <form action="/authentication/register" method="POST">
                            <input type="email" id="login" name="email" placeholder="example@gmail.com" ">
                            <input type="password" id="password" name="password" placeholder="password">
                            <input type="password" id="password1" name="password1" placeholder="password">
                            <input type="submit" value="Sign Up">
                        </form>
                        <div id="formFooter">
                            <a class="underlineHover" href="/authentication/login">Do you have an account? Sign In!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('./includes/footer.ejs') %>