<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/styles/dashboard.css" />
</head>

<body>
<div class="container-fluid">
    <div class="parent">
        <div class="navWrapper container">
            <nav class="navbar justify-content-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <div class="friendsWrapper">
            <h1>friends</h1>
        </div>
        <div class="contentWrapper">
            <h1>content</h1>
        </div>
        <div class="sideBarWrapper">
            <h1>dunno</h1>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>
