body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 20px 8px;
  color: #cccccc;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #cccccc;
  margin-top: 80px;
}

a {
  color: #cccccc;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.git-logo {
  margin-bottom: 80px;
  font-size: 40px;
}

.git-logo:hover {
  color: #b8142a;
}

.git-logo:focus {
  color: #b8142a;
}

.col2,
.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.col1 {
  background: url('https://burst.shopifycdn.com/photos/a-sliver-of-film-reel-curls-around-a-camera-sprocket.jpg?width=4460&height=4460&exif=1&iptc=1');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.col2 {
  background-color: #1c1c1d;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #1c1c1d;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  text-align: center;
}

#formFooter {
  padding: 0 0 30px 0;
  text-align: center;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: #b8142a;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(184, 20, 42, 0.4);
  box-shadow: 0 10px 30px 0 rgba(184, 20, 42, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 30px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover {
  background-color: #b8142a;
}

input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type='email'],
input[type='password'] {
  background-color: #383838;
  border: none;
  color: #c5c5c5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #383838;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type='email']:focus,
input[type='password']:focus {
  background-color: rgb(71, 71, 71);
  border-bottom: 2px solid #b8142a;
}

input[type='email']:placeholder,
input[type='password']:placeholder {
  color: #cccccc;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #b8142a;
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #fff;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}
